

<div class = 'row'>
  <div class = col-md-12  >
    <div class= 'card m-3'>
      <div class = 'card-body'>
        <h3 class = 'card-title mb-4'>Edit Post</h3>
        <%= render '/posts/form', post: @post %>
      </div>
    </div>
  </div>

</div>

